<h1>Listagem de pessoas</h1>
{{#each pessoas}}
    
    <div>
        <a href="/pessoas/{{this.id}}">{{this.nome}}</a> - {{this.ano_nascimento}} - <a href="/editar/{{this.id}}">Editar</a>
        <form method="post" action="/pessoa/{{this.id}}">
            <input type="submit" value="Remover">
        </form>
    </div>
    <hr>

{{/each}}